.StripeElement--webkit-autofill {
    background: transparent !important;
}
.StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
h1,
h3 {
    text-align: center;
}




